body{
    
    background-image: radial-gradient(salmon,skyblue);
}

#navigation a{
    text-decoration: none;
    float:right;
    color:white;
    margin:1%;
    font-size:1.5rem;
}

#navigation{
    position: inherit;

}

#project a{

}
 
#video1{
    float: right;
    margin-top: -25%;
}

#video{
    margin-top:10%;
}


#project2{
    margin-left: auto;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}

#certificat{
    width: 49%;
    margin-top: 10%;
}

#card{
    width: 49%;
    margin-top: 10%;
    float: right;
}

#contact{
    text-align: center;
    margin-top: 10%;
    background-color:salmon;
}

#contact a{
    color:white;
}

#contact h2{
    color:white;
    margin: 1%;
}

#contact h3{
    color:white;
    margin: 1%;
}

